.form-control {
    padding-right: 30px;
}

.form-control + .glyphicon {
    position: absolute;
    right: 0;
    padding: 8px 27px;
}

.panel-footer {
    background-color: #64666B;
    color: #ffffff;
}

#header_text {
    font-family: 'Nunito', sans-serif;
    font-size: 1.5em;
}
